<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yk.mybbs.mysql.dao.permissionMapper" >
  <resultMap id="BaseResultMap" type="cn.yk.mybbs.mysql.model.permission" >
    <id column="permissionID" property="permissionid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permissionID, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where permissionID = #{permissionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where permissionID = #{permissionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yk.mybbs.mysql.model.permission" >
    insert into permission (permissionID, remark)
    values (#{permissionid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yk.mybbs.mysql.model.permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        permissionID,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionid != null" >
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yk.mybbs.mysql.model.permission" >
    update permission
    <set >
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionID = #{permissionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yk.mybbs.mysql.model.permission" >
    update permission
    set remark = #{remark,jdbcType=VARCHAR}
    where permissionID = #{permissionid,jdbcType=INTEGER}
  </update>
</mapper>